body {
    background-image: url('https://c.tenor.com/Ma97xq_5Nm4AAAAC/pericles-excited.gif');
    background-size: cover;
  }

.estado {
    color: aliceblue;
    text-decoration: underline;
}

.cidade {
    color: aliceblue;
    text-decoration: underline;
    text-decoration-style: dashed;
    font-size: large;    
}

#residente {
    color: red;
}